<template name="raceday">

<div id="content-container">

  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <button type="button" class="navbar-toggle back-arrow">
      <a href="/home" class="glyphicon glyphicon-arrow-left"></a>
    </button>
    <div class="top-logo"><a class="navbar-brand" href="#">Raceday</a></div>
  </nav>


  <!-- SLIDING CAROUSEL -->
  <div class="raceday-carousel">

    <div>
      <h1 class="race-number">Race 1</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 2</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 3</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 4</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 5</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 6</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 7</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 8</h1>
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_426118112_75sq_1371752161.jpg" class="profile-pic"></td>
              <td class="horse-picks">1</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
            <tr>
              <td class="img-icon"><img src="http://images.ak.instagram.com/profiles/profile_4829269_75sq_1307441458.jpg" class="profile-pic"></td>
              <td class="horse-picks">5</td>
              <td class="horse-picks">7</td>
              <td class="horse-picks">9</td>
              <td class="horse-picks">14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

  <script>
  $(document).ready(function(){
    $('.raceday-carousel').slick({
      dots: true
    });
  });

  var app = new kendo.mobile.Application(document.body);
  </script>

</template>