<template name="racedayInput">
  <div>
   <form id="myform">
        <input type="text" name="horse1" placeholder="horse1"/>
        <input type="text" name="horse2" placeholder="horse2"/>
        <input type="text" name="horse3" placeholder="horse3"/>
        <input type="submit" id="submit"/>
    </form>
  </div>
</template>

<template name="history">
  <div>
    History
   <!--  {{# each}} -->
  </div>
</template>

<template name="userProfile">
  {{#if isTrue}}
  <div>
    {{> racedayInput}}
  </div>
  {{else}}
  <div>
    {{> history}}
  </div>
  {{/if}}
</template>
