<template name="tipster_stats">
  {{#if isTrue}}
  <div>
    {{> tipster_tips}}
  </div>
  {{else}}
  <div>
    {{> tipster_history}}
  </div>
  {{/if}}
</template>

<template name="tipster_tips">

  <div>
    <table class="table">
      <thead>
        <th class="img-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
      </thead>
      <tbody>
        <tr>
          <td class="horse-picks race_number">Race 1</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race1" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race1" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race1" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race1" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 2</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race2" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race2" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race2" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race2" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 3</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race3" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race3" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race3" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race3" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 4</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race4" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race4" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race4" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race4" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 5</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race5" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race5" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race5" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race5" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 6</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race6" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race6" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race6" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race6" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 7</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race7" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race7" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race7" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race7" "horse_4" }}</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 8</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race8" "horse_1" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race8" "horse_2" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race8" "horse_3" }}</td>
          <td class="horse-picks tipped-horse">{{ getHorse "race8" "horse_4" }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</template>

<template name="tipster_history">
  <p class="tip-history">There are currently no historical results to display</p>
  {{testyy}}
</template>