<template name="raceday">

<div id="content-container">

  <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <button type="button" class="navbar-toggle back-arrow">
      <a href="/home" class="glyphicon glyphicon-arrow-left"></a>
    </button>
    <div class="top-logo"><a class="navbar-brand" href="#">Raceday</a></div>
  </div>


  <!-- SLIDING CAROUSEL -->
  <div class="raceday-carousel">

    <div>
      <h1 class="race-number">Ascot 2:30</h1>
      {{> graphs_race1}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race1" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race1" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race1" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race1" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Ascot 3:05</h1>
      {{> graphs_race2}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race2" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race2" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race2" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race2" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Ascot 3:45</h1>
      {{> graphs_race3}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race3" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race3" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race3" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race3" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Ascot 4:25</h1>
      {{> graphs_race4}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race4" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race4" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race4" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race4" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Ascot 5:00</h1>
      {{> graphs_race5}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
             <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race5" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race5" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race5" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race5" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Ascot 5:35</h1>
      {{> graphs_race6}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race6" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race6" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race6" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race6" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div>
      <h1 class="race-number">Race 7</h1>
      {{> graphs_race7}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race7" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race7" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race7" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race7" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h1 class="race-number">Race 8</h1>
      {{> graphs_race8}}
      <div class="scroll-it">
        <table class="table">
          <thead>
            <th class="img-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
            <th class="img-icon"><img src="img/horse-icon.png" class="horse-icon"></th>
          </thead>
          <tbody>
            {{#each followee}}
              <tr>
                <td class="img-icon"><img src="{{getimage this}}" class="profile-pic"></td>
                <td class="horse-picks">{{ getHorse "race8" "horse_1" this}}</td>
                <td class="horse-picks">{{ getHorse "race8" "horse_2" this}}</td>
                <td class="horse-picks">{{ getHorse "race8" "horse_3" this}}</td>
                <td class="horse-picks">{{ getHorse "race8" "horse_4" this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div> -->

  </div>
</div>

  <script>
  $(document).ready(function(){
    $('.raceday-carousel').slick({
      dots: true
    });
  });

  </script>

</template>
