<template name="edit_profile">

<!-- NAV -->
{{> profile_nav }}

<!-- BODY -->
<p class="welcome_message">
  Welcome to HK Tipster and thank you for being one of our Beta testers!
</p>

<form id="name_submit">
  <input name="user_name" type="text" placeholder="Name" class="form-control add_name">
  <input name="user_pic" type="text" placeholder="Picture url (optional)" class="form-control add_name">

  <button type="submit" id="submit_name" class="btn btn-primary">Add name</button>
</form>

</template>