<template name="racedayInput">

  <div>
    <form id="race-1">
      <table class="table">
        <thead>
          <th class="img-icon-profile"><img src="img/horse-icon.png" class="horse-icon-profile"></th>
          <th class="img-icon2-profile"><img src="img/horse-icon.png" class="horse-icon-profile"></th>
          <th class="img-icon2-profile"><img src="img/horse-icon.png" class="horse-icon-profile"></th>
          <th class="img-icon2-profile"><img src="img/horse-icon.png" class="horse-icon-profile"></th>
        </thead>
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race1" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race1" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race1" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race1" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 1</button>
    </form>

    <form id="race-2">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race2" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race2" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race2" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race2" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 2</button>
    </form>

    <form id="race-3">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race3" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race3" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race3" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race3" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 3</button>
    </form>

    <form id="race-4">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race4" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race4" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race4" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race4" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 4</button>
    </form>

    <form id="race-5">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race5" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race5" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race5" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race5" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 5</button>
    </form>

    <form id="race-6">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race6" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race6" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race6" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race6" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 6</button>
    </form>

    <form id="race-7">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race7" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race7" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race7" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race7" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 7</button>
    </form>

    <form id="race-8">
      <table class="table new-row">
        <tbody>
          <tr>
            <td class="horse-picks"><input type="tel" name="horse1_race8" class="tip-input horse1-tip"/></td>
            <td class="horse-picks"><input type="tel" name="horse2_race8" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse3_race8" class="tip-input"/></td>
            <td class="horse-picks"><input type="tel" name="horse4_race8" class="tip-input"/></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" id="submit" class="btn btn-primary">Add race 8</button>
    </form>


  </div>

</template>


<template name="history">
    <p class="tip-history">You currenly have no historical results to display</p>
</template>


<template name="userProfile">
  {{#if isTrue}}
  <div>
    {{> racedayInput}}
  </div>
  {{else}}
  <div>
    {{> history}}
  </div>
  {{/if}}
</template>
