<template name="profile">

<!-- NAV -->
{{> profile_nav }}

<!-- BODY -->
<div data-role="view" id="tabstrip-profile" data-title="profile" data-layout="mobile-tabstrip">
  <div class="profile-container">
    <div class="col-xs-4 row-xs-12">
      <img src="http://demos.telerik.com/kendo-ui/content/mobile/overview/nairobi.jpg">
    </div>
    <div class="col-xs-8 row-xs-12 profile-info-container">
      {{> winnings_followers_text }}
      {{> editbar }}
    </div>
      {{> history_raceday_buttons}}
  </div>
    <div>
      {{> userProfile }}
    </div>
</div>


</template>