<template name="tipster_stats">
  {{#if isTrue}}
  <div>
    {{> tipster_tips}}
  </div>
  {{else}}
  <div>
    {{> tipster_history}}
  </div>
  {{/if}}
</template>

<template name="tipster_tips">

  <div>
    <table class="table">
      <thead>
        <th class="img-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
        <th class="img-icon"><img src="../img/horse-icon.png" class="horse-icon"></th>
      </thead>
      <tbody>
        <tr>
          <td class="horse-picks race_number">Race 1</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 2</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 3</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 4</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 5</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 6</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 7</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
        <tr>
          <td class="horse-picks race_number">Race 8</td>
          <td class="horse-picks tipped-horse">1</td>
          <td class="horse-picks tipped-horse">7</td>
          <td class="horse-picks tipped-horse">9</td>
          <td class="horse-picks tipped-horse">14</td>
        </tr>
      </tbody>
    </table>
  </div>

</template>

<template name="tipster_history">
  <p class="tip-history">You currenly have no historical results to display</p>
</template>